@page
@model ResturantWebApp.Pages.Admin.Users.IndexModel


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="">Users List</h2>
        </div>
        <div class="col-6  text-end">
            <h2 class="">
                <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-success text-success-emphasis">
                    <i class="bi bi-plus-lg"></i>&nbsp; Resgister User
                </a>
            </h2>
        </div>
    </div>
    <br />
    <table id="userList" class="table table-bordered table-striped" style="width: 100%">
        <thead>
            <tr class="text-center">
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/userList.js"></script>
}