@page
@model ResturantWebApp.Pages.Admin.FoodTypes.IndexModel

<div class="container p-3">
<div class="row pt-4">
    <div class="col-6">
        <h2 class="">Food Type List</h2>
    </div>
    <div class="col-6  text-end">
        <h2 class="">
            <a asp-page="create" class="btn btn-success text-success-emphasis">
                <i class="bi bi-plus-lg"></i>&nbsp; Create Food Type
            </a>
        </h2>
    </div>
</div>
<br />
<table class="table table-bordered table-striped" style="width: 100%">
    <thead>
        <tr class="text-center">
            <th>Food Type</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FoodType)
        {
            <tr>
                <td width="50%">@item.Name</td>
                <td>
                    <div class=" btn-group" role="group" style="width: 100%">
                        <a asp-page="Edit" asp-route-id="@item.Id" class="btn btn-warning mx-2">
                            <i class="fa-regular fa-file"></i>
                        </a>
                        <a asp-page="Delete" asp-route-id="@item.Id" class="btn btn-danger mx-2">
                            <i class="bi bi-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
